.DeckScreen{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.DeckScreen::-webkit-scrollbar {
    display: none;
  }

.DeckScreen header{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    font-size: 36px;
    color: white;
    font-family: "Righteous";
    padding: 10px;
}

.DeckScreen .logo{
    width: 52px;
    height: 60px;
}

.DeckScreen h1{
    width: 203.17px;
    max-width: 203.17px;
    height: 44px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
}

.DeckScreen main {
    margin: 5px 0px;
    margin-bottom: 50px;
  }


 